@font-face {
    font-family: KingsCross;
    src: url(assets/fonts/KingsCross.ttf);
  }
  
  @font-face {
    font-family: Vinque;
    src: url(assets/fonts/vinque.otf);
  }
  
  @font-face {
    font-family: Hands;
    src: url(assets/fonts/Hands.ttf);
  }